*{
    font-family: Poppins !important;
}
.myCreateAcountBtn{
    background: #B00000;
    color: #FFFFFF;
    box-shadow: 0 0 23px 0 #B00000;
}
.content-heading{
    font-size: 64px;
    font-weight: 700;
    line-height: 77.5px;
    color: #2E2E2E;
}


.myCardtabContent{
    margin-bottom: 30px;
}
@media screen and (max-width: 767px) { 
    .myCardtabContent{
        margin-bottom: 30px;
    }

    .content-heading{
        font-size: 20px !important;
        line-height: 30px !important;
      }
}

