<!-- <p>dynamic-component1 works!</p>
<ul>
    <li style="color: #fff;">Coffee</li>
    <li style="color: #fff;">Tea</li>
    <li style="color: #fff;">Milk</li>
 </ul> -->

 <div>
   <div >
    <img class="object-fit-cover border rounded w-100" src="assets/Images/Mask group.png"/>
   </div>
   <h1>Component 1 {{data}}</h1>
   <p style="color: #fff;">commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
     venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
 </div>
